@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #84a38c;
  --foreground: #ffffff;
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

.page-border {
  /* White border, consistent with your TV container and instrument panel */
  border: 2px solid #ffffff;
  border-radius: 2px;
  
  /* Optional padding and background if you want a consistent "frame" effect */
  padding: 1rem;
  background-color: #bbbbbb;
  
  /* If you want some spacing around the content */
  margin: 1rem;
  
  /* For subtle box shadow effect (optional) */
  box-shadow: 0 0 10px rgba(255, 255, 255, 0.15);
}


body {
  color: var(--background);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

h1 {
  font-size: 2.5rem;
  margin-bottom: 2rem;
  font-weight: 700;
  line-height: 1.2;
  color: rgb(255, 255, 255);
  font-family: monospace;

  display: inline-block;  /* Makes background wrap the text */
  padding: 0.2em 0.4em;   /* Adds some space around the text */
  background-color: #121212;


}

h4 {
  font-size: 1.2rem;
  margin-top: 1.5rem;
  margin-bottom: 0.3rem;
  font-weight: 600;
  color: var(--foreground);
}

p {
  margin-bottom: 1.5rem;  /* Space between paragraphs */
  line-height: 1.6;       /* Line height for better readability */
  font-size: 1rem;        /* Font size */
  max-width: 65ch;        /* Maximum width for optimal reading */
  color: black;
}