.main-container {
    height: 100vh;
    width: 100%;
    position: fixed;
    overflow-x: scroll;
    overflow-y: hidden;
    /* Center the content initially */
    display: inline-block;
    perspective: 2500px;
    perspective-origin: center top; /* so we "look down" a bit */
}
  
