.tv-container {
  height: calc((70vh) / 3); 
  aspect-ratio: 4 / 3;
  background-color: #121212;
  border: 2px solid #ffffff;
  border-radius: 2px;
  padding: 4%;
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
  gap: 5px; /* Added gap to create buffer between instrument-panel and tv-frame */
}

.instrument-panel {
  width: 20%;
  border: 2px solid #ffffff;
  border-radius: 2px;
  background-color: #121212;
  display: flex;
  flex-direction: column;
  padding: 2%;
  gap: 4%;
}

.dial-container {
  background-color: #bbbbbb;
  padding: 9%;
  border-radius: 2px;
}

.dial {
  width: 100%;
  aspect-ratio: 1;
  background-color: #121212;
  border-radius: 50%;
  position: relative;
}

.dial::after {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  width: 40%;
  height: 14%;
  background-color: #ffffff;
  transform: translate(-50%, -50%) rotate(45deg);
}

.slot-container {
  background-color: #bbbbbb;
  padding: 20%;
  height: 18%;
  border-radius: 2px;
  align-items: center;
}

.slot {
  width: 100%;
  height: 100%;
  background-color: #121212;
  margin: 0 auto;
  border-radius: 2px;
}

.vent {
  margin-top: auto;
  height: 60%;
  background: repeating-linear-gradient(
    180deg,
    #121212,
    #121212 5%,
    #bbbbbb 5%,
    #bbbbbb 10%
  );
}

/* Container for the screen */
.tv-frame {
  width: 80%; 
  display: flex;
  background-color: #121212;
  border: 2px solid #ffffff;
  overflow: hidden;
  justify-content: center;
  align-items: center;
  aspect-ratio: 4 / 3; /* Ensure the container has a strict ratio */
  border-radius: 2px;

}

/* .tv-screen can help ensure the image's parent is sized correctly */
.tv-screen {
  position: relative;
  width: calc(100% - 10px); /* Subtract some pixels from all sides */
  height: calc(100% - 10px);
  display: flex;
  background-color: #bbbbbb;
  align-items: center;
  justify-content: center;
  flex-direction: column;  /* Stack children vertically */
}

/* Ensuring the image fills the container */
.tv-image {
  width: 100%;
  height: calc(95% - 12px); /* Subtract some pixels from the top and bottom */
  object-fit: cover;
  flex-shrink: 0;
  border-radius: 30px;
  outline: 3px solid #bbbbbb;
  outline-offset: -3px; /* This moves the outline inward */
  box-sizing: border-box;
}

.tv-name-container {
  width: 100%;
  height: 12%;
  border-top: #ffffff 1px solid;
  border-bottom: #ffffff 1px solid;
  align-items: center;
}

.tv-name-overlay {
  z-index: 2;
  color: rgb(233, 43, 43);
  font-family: monospace;
  text-align: center;
  background-color: #bbbbbb;
  font-size: 1.9vh;
  background-color: #121212;
  width: fit-content; 
  line-height: 1;  /* Removes extra vertical space */

  /* Positioning */
  position: absolute;
  left: 50%;
  transform: translate(-50%);
}

.tv-link {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 3;
  border-radius: 30px;
}